/* Memo와 Issue의 간격 */
.memo_list {
  margin-top: 30px;
  padding-top: 15px;
}

/* Memo 끼리의 거리를 위한 */
/* Issue의 Memo가 없을 때 나올 택스트의 Css */
.memo_item,
.memo_list_alter {
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
  padding-top: 15px;
}

/* Memo의 텍스트(타이틀) 크기 */
.memo_item_header_text {
  font-size: 14px;
}

/* Memo의 작성일 텍스트 크기 */
.memo_item_header_create_at {
  font-size: 12px;
}

/* 새로운 Memo를 만들 Input의 Css */
.memo_list_new_memo {
  padding-bottom: 15px;
}

.memo_list_new_memo > label {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
}

.memo_list_new_memo > input {
  display: block;
  margin: 12px 0px 10px 0px;
  padding: 5px 0px 5px 3px;
  outline: none;
}
